<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

<!--<ion-navbar>-->
<!--<ion-title>Login</ion-title>-->
<!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content>
  <div class="headerImageContainer">
    <img src="assets/imgs/login-header-image.png" class="headerImage">
    <h1>Sign In</h1>
  </div>
  <div class="cardPanel" padding>
    <div text-center>
      <img src="assets/imgs/login-circle.png" alt="">
    </div>
    <ion-card>
      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-label floating>
              <ion-icon name="call"></ion-icon>
              Phone Number
            </ion-label>
            <ion-input type="tel" [(ngModel)]="userData.phone_number" autocomplete="off"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon name="lock"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="userData.password" autocomplete="off"></ion-input>
          </ion-item>

          <ion-item>
            <button ion-button round block padding (click)="login()" color="orange">Login</button>
          </ion-item>

          <ion-item text-center>
            <button ion-button clear color="orange">Forget your password?</button>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <div text-center>
    <button ion-button clear icon-only color="orange">
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button ion-button clear icon-only color="orange">
      <ion-icon name="logo-twitter"></ion-icon>
    </button>
    <button ion-button clear icon-only color="orange">
      <ion-icon name="logo-googleplus"></ion-icon>
    </button>
  </div>
  <!--<ion-toolbar>-->
  <!--<ion-title>Footer</ion-title>-->
  <!--</ion-toolbar>-->
</ion-footer>
