page-login {
  ion-content {
    background-color: #ffffff !important;
    .headerImageContainer {
      width: 100%;
      height: 260px;
      position: relative;
      .headerImage {
        width: 100%;
        height: 100%;
      }
      h1 {
        color: map-get($colors, orange);
        position: absolute;
        bottom: 20px;
        left: 15px;
        text-decoration: underline;
        margin: 0;
        padding: 0;
      }
    }
    .cardPanel {
      img {
        position: relative;
        top: 20px;
        width: 90px;
      }
      ion-card {
        background-color: map-get($colors, yellow) !important;
        ion-item {
          background-color: transparent !important;
          color: map-get($colors, orange);
          border: 0 !important;
          padding: 0;
          box-shadow: none !important;
          .item-inner {
            padding: 0 !important;
            box-shadow: none !important;
            ion-label {
              width: 100%;
              color: map-get($colors, orange) !important;
            }
            ion-input {
              border-bottom: 1px solid map-get($colors, orange);
              input {
                margin-right: 0;
                width: 100% !important;
                color: map-get($colors, orange) !important;
              }
            }
          }
        }
      }
    }
  }
  ion-footer::before {
    background: none !important;
  }
}
