<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-right>
          <img [src]="userData.image" onError="this.src='/assets/imgs/userDefaultIcon.png';">
        </ion-col>
        <ion-col col-6 text-left>
          <div class="userText">
            <span class="textContainer">
              <p ion-text>
                <span class="title">Name:</span> <span class="value">{{userData.name}}</span>
              </p>
              <p ion-text>
                <span class="title">Class:</span> <span class="value">{{userData.class.name}}</span>
              </p>
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="isLoading" class="fullPageLoading">
    <ion-spinner>Please wait</ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      [showCancelButton]="false"
      [animated]="true"
      (ionInput)="searchQueryInput($event)"
      (ionCancel)="searchCancel($event)"
      [debounce]="1024"
      placeholder="Search Students"
      padding
    >
    </ion-searchbar>
    <h4 ion-text text-center color="orange">My Students</h4>
    <ion-list no-border no-lines>


      <button ion-item padding *ngFor="let student of students" (click)="openMessage(student)">
        <ion-grid>
          <ion-row>
            <ion-col col-6 text-left>
              <img float-left [src]="student.image" onError="this.src='/assets/imgs/userDefaultIcon.png';">
              <div>
                <h4 ion-text color="orange"><b [innerHTML]="student.name | highlight: searchQuery"></b></h4>
                <p ion-text color="mid_gray">
                  <small><b>This is a test message hello this is my long long and very long message you guys and only
                    see
                    a short version of this..</b></small>
                </p>
              </div>
            </ion-col>
            <ion-col col-2 text-center>
              <h1 ion-text color="gray2">
                <b [innerHTML]="student.meta.roll_number | highlight: searchQuery"></b>
              </h1>
            </ion-col>
            <ion-col col-4 text-right>
              <div>
                <h4 color="orange" ion-text="" class="text text-ios text-ios-orange" color="orange"
                    [innerHTML]="student.parent.name | highlight: searchQuery"></h4>
                <p color="mid_gray" ion-text="" class="text text-ios text-ios-mid_gray" color="mid_gray">
                  <small>08:07</small>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-list>
  </div>
</ion-content>
