page-dashboard {
  ion-navbar {
    .toolbar-background {
      background-color: map-get($colors, yellow);
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 3px solid #fff;
    }
    .userText {
      position: relative;
      height: 100%;
      span.textContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .title {
          color: map-get($colors, orange);
        }
        .value {
          color: map-get($colors, gray);
        }
      }
    }
  }
  ion-searchbar {
    background: none !important;
    border: 0 !important;
    .searchbar-input-container {
      border: 2px solid map-get($colors, yellow);
      border-radius: 5px;
      .searchbar-input {
        box-shadow: none !important;
        font-weight: bold;
      }
      .searchbar-input::placeholder {
        font-weight: bold;
      }
    }

  }
  button[ion-item] {
    background-color: map-get($colors, light_gray) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 2px 0;
    .item-inner {
      padding: 0 !important;
      background: none !important;
      ion-col[text-left],  ion-col[text-right]{
        img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          margin-right: 10px;
        }
        div {
          margin-top: 5px;
          p {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      ion-col[text-center] {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
}


