<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons left>
      <button class="backButton" ion-button clear (click)="backButtonClicked()">
        <ion-icon name="arrow-back"></ion-icon>
        <img [src]="student.image" onError="this.src='/assets/imgs/userDefaultIcon.png';">
        <div text-left class="userText" color="orange">
          <div>
            <b>{{student.name}}</b>
          </div>
          <div>
            <small>{{student.parent.name}}</small>
          </div>
        </div>
      </button>
    </ion-buttons>
    <ion-title>{{student.meta.roll_number}}</ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only right color="orange">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="headerBottomPanel" text-center>
    {{student.class.name}}
  </div>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <div>
          Hello Osama how are everything is fine what are you doing right now.. i have a question for you can you please
          tell what is this.hahhhahahah
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-2>
        <div>
          Hello Osama how are everything is fine what are you doing right now.. i have a question for you can you please
          tell what is this.hahhhahahah
        </div>
        <div class="timeAndStatus" text-right>
          <small ion-text color="gray2">17-apr-18 08:07 <span ion-text color="green">Seen</span></small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-list padding no-margin>

    <ion-item>
      <ion-input type="text" placeholder="Write Message" class="text-input"></ion-input>
      <button ion-button item-end icon-only clear large color="orange">
        <ion-icon name="attach" item-end no-padding></ion-icon>
      </button>
      <button ion-button item-end icon-only clear large color="orange">
        <ion-icon name="send" item-end no-padding></ion-icon>
      </button>
    </ion-item>

  </ion-list>
</ion-footer>
