page-message {
  ion-header {
    ion-navbar {
      .toolbar-background {
        background-color: map-get($colors, yellow);
      }
      button.backButton {
        color: map-get($colors, orange);
        img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
        .userText {

        }
      }
      ion-title {
        .toolbar-title {
          font-size: 4.5rem;
          color: map-get($colors, gray2);
        }
      }
    }
    .headerBottomPanel {
      width: 30%;
      margin: 0 auto;
      border-radius: 200px;
      padding: 1%;
      margin-top: -2px;
      color: map-get($colors, yellow);
      background-color: map-get($colors, orange);
    }
  }
  ion-content {
    ion-row {
      margin: 5px 0;
      ion-col {
        background-color: map-get($colors, light_gray);
        //background-color: red;
        border-radius: 10px;
        padding: 10px !important;
      }
    }
  }
  ion-footer {
    ion-item {
      border: 1px solid map-get($colors, yellow) !important;
      border-radius: 10px !important;
      box-shadow: none !important;
      align-items: flex-end !important;
      button {
        margin: 0 5px 0 5px !important;
      }
      input {
        color: map-get($colors, orange);
        border-bottom: 1px solid map-get($colors, yellow) !important;
      }
    }
  }
  ion-footer::before, ion-header:after {
    background: transparent !important;
  }
  .text-input::-moz-placeholder {
    color: map-get($colors, orange);
  }

  .text-input:-ms-input-placeholder {
    color: map-get($colors, orange);
  }

  .text-input::-webkit-input-placeholder {
    color: map-get($colors, orange);
  }
}
