<ion-tabs>
  <ion-tab [root]="dashboard" tabIcon="home" [tabsHideOnSubPages]="true"></ion-tab>
  <ion-tab [root]="notification" tabIcon="notifications" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
  <ion-tab [root]="report" tabIcon="document"></ion-tab>
  <ion-tab [root]="setting" tabIcon="settings"></ion-tab>
</ion-tabs>
