page-notification {
  ion-navbar {
    .toolbar-background {
      background-color: map-get($colors, yellow);
    }
    ion-title {
      div {
        color: map-get($colors, orange) !important;
      }
    }
  }
  ion-item {
    background-color: map-get($colors, light_gray) !important;
    margin-top: 3px !important;
    ion-grid, ion-col {
      padding: 0 !important;
      p {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
    }
  }
}
