<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="/assets/imgs/userDefaultIcon.png">
      </ion-avatar>
      <h2 ion-text color="orange">
        <b>
          Osama Ahmed
          <small ion-text color="gray2">Sent you Text Message</small>
        </b>
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <p ion-text color="gray2"><small><b>Hello Shahzaib how are you today. askjdlasd kjsdah askdj kjsda</b></small></p>
          </ion-col>
          <ion-col col-2 text-right>
            <p ion-text color="gray2"><small><b>08:09</b></small></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="/assets/imgs/userDefaultIcon.png">
      </ion-avatar>
      <h2 ion-text color="orange">
        <b>
          Osama Ahmed
          <small ion-text color="gray2">Sent you Text Message</small>
        </b>
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <p ion-text color="gray2"><small><b>Hello Shahzaib how are you today. askjdlasd kjsdah askdj kjsda</b></small></p>
          </ion-col>
          <ion-col col-2 text-right>
            <p ion-text color="gray2"><small><b>08:09</b></small></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
