// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  orange: #f45600,
  yellow: #fdf1af,
  gray: #9c9c9c,
  gray2: #b7b7b7,
  mid_gray: #bababa,
  light_gray: #f8f8f8,
  green: #00a22a
);

$searchbar-ios-input-search-icon-color: map-get($colors, orange);
$searchbar-ios-input-placeholder-color: map-get($colors, orange);
$searchbar-ios-input-text-color: map-get($colors, orange);
$searchbar-md-input-search-icon-color: map-get($colors, orange);
$searchbar-md-input-placeholder-color: map-get($colors, orange);
$searchbar-md-input-text-color: map-get($colors, orange);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// custom
ion-app {
  background-image: url('../assets/imgs/welcome-background-image.jpg');
  background-size: 100% 100%;
}

ion-toast.error .toast-wrapper {
  background-color: map-get($colors, danger);
}

ion-toast.success .toast-wrapper {
  background-color: map-get($colors, secondary);
}

.fullPageLoading {
  position: relative;
  height: 100%;
  ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
