<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

<!--<ion-navbar>-->
<!--<ion-title>Welcome</ion-title>-->
<!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content>
  <div class="container" text-center>
    <div class="mid_content">
      <h1>Company Logo</h1>

      <ion-slides pager>

        <ion-slide padding>
          <div>
            <h1>Welcome</h1>
            <small ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </small>
          </div>
        </ion-slide>

        <ion-slide padding>
          <div>
            <h1>Welcome 2</h1>
            <small ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </small>
          </div>
        </ion-slide>

        <ion-slide padding>
          <div>
            <h1>Welcome 3</h1>
            <small ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </small>
          </div>
        </ion-slide>

      </ion-slides>

      <div padding>
        <button ion-button round block padding (click)="openLogin()" color="orange">Get Started</button>
      </div>

    </div>
  </div>
</ion-content>
