@font-face {
  font-family: "Cooper Black";
  src: url("../assets/fonts/COOPBL.TTF");
}

page-welcome {
  ion-content {
    background-image: url('../assets/imgs/welcome-background-image.jpg');
    background-size: 100% 100%;
    .container {
      height: 100%;
      position: relative;
      .mid_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        //height: 85%;
        overflow: hidden;
        h1 {
          color: map-get($colors, orange);
        }
        ion-slides {
          height: auto;
          ion-slide {
            div {
              padding: 20px 0px;
            }
            h1 {
              color: map-get($colors, orange);
              font-family: Cooper Black;
              font-weight: bold;
              font-size: 5rem;
            }
          }
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}
