<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
<ion-footer padding>
  <button ion-button block color="orange" (click)="logout()">
    <b>
      <ion-icon name="log-out"></ion-icon>
      SIGN OUT
    </b>
  </button>
</ion-footer>
