page-setting {
  ion-navbar {
    .toolbar-background {
      background-color: map-get($colors, yellow);
    }
    ion-title {
      div {
        color: map-get($colors, orange) !important;
      }
    }
  }
  ion-footer {
    button {
      ion-icon {
        margin-right: 10px;
      }
    }
  }
}
